<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.2.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
          http://www.springframework.org/schema/data/jpa
          http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
">

    <!-- ¿En que paquetes busco clases que quieran ser instanciadas por Spring? -->
    <context:component-scan
        base-package="com.croer.db.search.services">
    </context:component-scan>
    
    <!-- ¿En que paquetes trato de detectar los DAO que serán implementados? -->
    <jpa:repositories base-package="com.croer.db.search.repositories" 
                      factory-class="com.croer.db.search.repdefinition.JpaRepositoryFactoryBeanXeam"/>

    <!-- Manejo de transacciones con @Transactional -->
    <tx:annotation-driven />
    
    <!-- Levanta las properties para resolver el XML y los @Value -->
    <context:property-placeholder
        location="file:C:\Users\IBM_ADMIN\Documents\@Projects_Eli\201309 Finder&amp;Getter\_NBP\digitalcatalog\JavaLog\src\main\resources\mvc.properties,
                  file:C:\Users\IBM_ADMIN\Documents\@Projects_Eli\201309 Finder&amp;Getter\_NBP\digitalcatalog\JavaLog\src\main\resources\tec.properties"
        ignore-unresolvable="true"/> 
    
    <!-- Pone a disposición del sistema todos los parámetros vía Configuration.java -->
    <bean id="mvc" class="org.apache.commons.configuration.PropertiesConfiguration">
        <constructor-arg index="0">
            <value>mvc.properties</value>
        </constructor-arg>
    </bean>
    <bean id="entities" class="org.apache.commons.configuration.PropertiesConfiguration">
        <constructor-arg index="0">
            <value>entities.properties</value>
        </constructor-arg>
    </bean>    
    <bean id="compositeProperties" class="org.apache.commons.configuration.CompositeConfiguration">
        <constructor-arg index="0">
            <!-- The order that these beans are defined is important when properties are defined in multiple Configurations -->
            <list>
                <ref bean="mvc"/>
                <ref bean="entities"/>
            </list>
        </constructor-arg>
    </bean>
    
    <!-- Completa los elementos estáticos de la clase -->
    <bean id="configuration" class="util.Configuration">
        <constructor-arg ref="compositeProperties" />
    </bean>
    
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
        <property name="database" value="MYSQL"/>
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="false"/>
        <property name="databasePlatform" value="org.eclipse.persistence.platform.database.MySQLPlatform"/>
    </bean>
    
    <bean id="dataSourceSearch" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
        <!--bean id="dataSourceSearch" class="org.apache.commons.dbcp.BasicDataSource"-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${mysqlSearchUrl}"/>
        <property name="username" value="${mysqlUser}"/>
        <property name="password" value="${mysqlPass}"/>
        <property name="suppressClose" value="true"/>
        <!--property name="maxActive" value="5"/-->
        <!--property name="maxWait" value="1000"/-->
        <!--property name="poolPreparedStatements" value="true"/-->
    </bean>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSourceSearch"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <property name="persistenceUnitName" value="PUBusqueda"/>
        <property name="jpaPropertyMap">
            <map>
                <entry key="eclipselink.weaving" value="false"/>
            </map>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <!--context:property-placeholder location="classpath:name.properties" / Otra manera de hacerse de ${porp}--> 
    
    <!--bean id="model" class="com.croer.javalog.mvc.LogModel" init-method="init">    
        <constructor-arg value="${logPath}"/>
        <constructor-arg ref="model.repositories"/>
        <constructor-arg value="30000"/>        
    </bean-->
    
    <util:list id="model.repositories" value-type="org.springframework.data.jpa.repository.JpaRepository"> 
        <ref bean = "productoLogRepository" />
    </util:list> 
    
    <bean id="model" class="com.croer.javalog.mvc.LogModel">
        <constructor-arg ref="model.repositories" />
        <constructor-arg value="${timeDelay}" />
        <!--property name="maxSize" value="${model.maxSize}" /-->
        <property name="logGenerated" value="${logGenerated}" />        
        <property name="maxSize" value="${logMaxSize}" />
        <property name="logPath" value="${logPath}"/>
    </bean>
    
    <bean id="view" class="com.croer.javalog.mvc.LogView" depends-on="configuration">    
    </bean>
    
    <!--bean id="viewSettings" class="com.croer.javalog.mvc.LogVSettings" depends-on="configuration">
    </bean-->
    
    <!--bean id="controller" class="com.croer.javalog.mvc.LogController" init-method="init">    
    </bean-->
    
    <bean id="controller" class="com.croer.javalog.mvc.LogController">
        <constructor-arg ref="model" />
        <constructor-arg ref="view" />
    </bean>
    
    <bean id="mProcess" class="com.croer.javalog.mvc.LogMProcess" depends-on="configuration">    
    </bean>
            
</beans>
